<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrolled Students</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container-2">
        <h2>Enrolled Students</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>BirthDate</th>
                    <th>Email</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>  <!-- Assuming name is in the second column -->
                    <td>{{ student[2] }}</td>  <!-- Assuming email is in the third column -->
                    <td>{{ student[3] }}</td>  <!-- Assuming course is in the fourth column -->
                    <td>{{ student[4] }}</td>
                    <td>{{ student[5] }}</td>
                    <td>{{ student[6] }}</td>
                    <td>{{ student[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" onclick="window.location.href='/'">Back</button>
    </div>
</body>
</html>
